# npm
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Nuxt build artifacts
.nuxt
.output
.nitro

# Tests / coverage / misc
coverage
.vite
.turbo
.DS_Store
*.local

# Editor
.vscode
.idea
*.sw?
